@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Nunito:wght@500&family=Oswald:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.fondo {
  background-image: url(../assets/fondo-sitio.png); }

header .linea-de-ayuda {
  background-color: #d1d1d1;
  height: 18px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 24px;
  color: black; }
  header .linea-de-ayuda .a-ayuda {
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    margin-right: 8px; }
  header .linea-de-ayuda .a-ayuda:hover {
    text-decoration: underline; }

header .navbar {
  padding: 0px; }
  header .navbar div {
    gap: 48px;
    background-color: #25b7c0; }
    header .navbar div .navbar-brand {
      padding-left: 8px; }
    header .navbar div div form {
      width: 54%; }
      header .navbar div div form .btn {
        background-color: #004347;
        color: white;
        border: none; }
    header .navbar div div ul {
      gap: 39px; }
      header .navbar div div ul li .dropdown-menu {
        background-color: #25b7c0;
        border-bottom: solid #004347 3px; }
      header .navbar div div ul li:hover {
        border-bottom: solid black 1px; }

footer {
  background-color: #004347;
  margin-top: 50px; }
  footer .encontranos {
    color: white;
    font-size: 20px;
    margin-left: 6px; }
  footer .ig {
    height: 50px;
    width: 50px; }
  footer .ig:hover {
    border: solid rgba(0, 0, 0, 0) 2px; }
  footer .face {
    height: 43px;
    width: 43px; }
  footer .face:hover {
    border: solid rgba(0, 0, 0, 0) 2px; }
  footer .contactanos {
    color: white;
    font-size: 26px;
    display: flex;
    justify-content: center;
    margin-top: 30px; }
  footer .adress {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center; }
    footer .adress h3 {
      color: white;
      font-size: 22px; }
  footer .numero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 80px; }
    footer .numero h3 {
      font-size: 22px; }
  footer .medios-d-p {
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    margin-bottom: 40px; }
    footer .medios-d-p h3 {
      font-size: 20px;
      margin-left: 8px; }
    footer .medios-d-p img {
      margin-left: 40px;
      width: 634px; }
  footer .creador {
    margin: 0px;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center; }

main div {
  padding-top: 5%;
  padding-bottom: 3%; }
  main div .quienes-somos {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 34px;
    padding-bottom: 15px; }
  main div p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 22px; }

main div {
  padding-left: 1%; }
  main div .contacta {
    color: black;
    font-size: 34px; }
  main div h3 {
    padding-top: 18px;
    color: black;
    font-size: 20px; }

main .sucursales {
  padding-top: 5%;
  padding-bottom: 3%; }
  main .sucursales .t-sucur {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 34px;
    padding-bottom: 15px; }
  main .sucursales p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 22px; }

main .ubications {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  gap: 60px; }
  main .ubications .datos1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 35px; }
  main .ubications .datos2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 35px; }
  main .ubications .ubi {
    border: solid black 2px;
    height: 400px;
    width: 400px;
    margin-left: 74px; }
  main .ubications .ubi:hover {
    border: solid black 3px; }

main .ayuda .pf {
  padding-top: 2%; }
  main .ayuda .pf .titulo-preg {
    color: black;
    display: flex;
    justify-content: center; }
  main .ayuda .pf .preguntas .pregunta .pregg {
    font-size: 22px;
    display: flex;
    justify-content: start; }
  main .ayuda .pf .preguntas .pregunta .resp {
    font-size: 19px;
    display: flex;
    justify-content: start; }

main .cambios-y-d {
  padding-top: 2%; }
  main .cambios-y-d h2 {
    display: flex;
    justify-content: center;
    color: black; }
  main .cambios-y-d .intro-dyd {
    font-size: 19px;
    display: flex;
    justify-content: start; }
  main .cambios-y-d .cambios {
    display: flex;
    justify-content: center;
    font-size: 24px; }
  main .cambios-y-d .cambios-list {
    font-size: 19px;
    justify-content: start; }
  main .cambios-y-d .devoluciones {
    display: flex;
    justify-content: center;
    font-size: 24px; }
  main .cambios-y-d .devoluciones-list {
    font-size: 19px;
    justify-content: start; }
  main .cambios-y-d .fin-cyd {
    font-size: 19px;
    display: flex;
    justify-content: start; }

main .cuidado-de-prendas h2 {
  display: flex;
  justify-content: center;
  color: black; }

main .cuidado-de-prendas .intro-cdp {
  font-size: 19px;
  display: flex;
  justify-content: start;
  color: black; }

main .cuidado-de-prendas .consejos {
  font-size: 19px;
  justify-content: start; }

main .cuidado-de-prendas .fin-cuidados {
  color: black; }

.img-y-envios {
  display: grid;
  grid-template-rows: 82% 18%; }
  .img-y-envios .img-de-entrada {
    height: 100%;
    width: 100%;
    background-image: url(../assets/Group1.png);
    background-size: 100% 100%;
    margin-bottom: 35%; }
  .img-y-envios .banner {
    border: solid rgba(27, 25, 25, 0.9) 1px;
    background-color: rgba(36, 32, 32, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 100%; }
    .img-y-envios .banner img {
      margin-left: 1%;
      margin-right: 1%; }

main .wsp {
  position: absolute;
  height: 48px;
  width: 48px;
  position: fixed;
  top: 88%;
  left: 96%; }

main .subtitulo-lo-mas-vendido {
  display: flex;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  font-size: 38px;
  color: black;
  margin-top: 18px;
  margin-bottom: 24px; }

main .carrusel {
  padding-top: 0px;
  display: flex;
  justify-content: center; }
  main .carrusel .lo-mas-vendido {
    gap: 68px;
    width: 1018px;
    display: flex;
    justify-content: center; }
    main .carrusel .lo-mas-vendido .articulos {
      height: 375px;
      width: 240px; }
    main .carrusel .lo-mas-vendido .articulos:hover {
      border: solid rgba(0, 0, 0, 0) 8px; }

main .odm {
  display: flex;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  font-size: 38px;
  color: black;
  margin: 24px; }

main .mes1 {
  display: flex;
  justify-content: center;
  gap: 26px; }
  main .mes1 .odm1:hover {
    border: solid black 1px; }

main .mes2 {
  display: flex;
  justify-content: center;
  gap: 28px;
  padding-left: 0px; }
  main .mes2 .odm1:hover {
    border: solid black 1px; }

main .contenedor-de-prendas {
  margin-right: 80px;
  display: flex;
  justify-content: end;
  padding-top: 0%; }
  main .contenedor-de-prendas .prendas {
    margin-bottom: 12%;
    width: 80%;
    gap: 20px;
    height: 100%;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 0%; }
    main .contenedor-de-prendas .prendas img {
      border: solid black 1px;
      width: 100%;
      height: 100%; }
    main .contenedor-de-prendas .prendas img:hover {
      border: solid black 2px; }

main .filtrado {
  display: flex;
  justify-content: end;
  margin-right: 28px;
  margin-top: 38px;
  gap: 68%;
  padding: 0px; }
  main .filtrado .checkbox {
    font-size: 18px;
    gap: 8px;
    display: flex;
    flex-direction: row; }
  main .filtrado div input {
    height: 18px;
    width: 18px; }
  main .filtrado select {
    height: 48px;
    width: 100%;
    border: solid #148288 1px;
    background-color: #25b7c0;
    font-size: 16px; }

main .contenedor-de-new {
  display: flex;
  justify-content: end;
  margin-right: 8%;
  padding-top: 0%; }
  main .contenedor-de-new .news {
    margin-bottom: 12%;
    height: 70%;
    gap: 20px;
    height: 100%;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 0%; }
    main .contenedor-de-new .news img {
      border: solid black 1px;
      height: 100%;
      width: 100%; }
    main .contenedor-de-new .news img:hover {
      border: solid black 2px; }

main .carro-vacio {
  margin-top: 3%;
  margin-bottom: 5%;
  margin-left: 1%; }
  main .carro-vacio h1 {
    color: black;
    font-size: 50px; }
  main .carro-vacio h2 {
    color: black;
    font-size: 30px; }
  main .carro-vacio .opciones-pago-carro {
    margin-top: 6%;
    font-size: 21px; }
  main .carro-vacio a input {
    height: 70px;
    width: 180px;
    background-color: black;
    color: white;
    font-size: 24px;
    border-radius: 3%;
    margin-top: 24px; }
  main .carro-vacio a input:hover {
    border: solid #25b7c0 1px;
    color: #25b7c0; }
  main .carro-vacio img {
    margin-top: 2%; }

main .h3-registro {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 3%; }

main .crear {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  display: grid;
  grid-template-rows: 33% 33% 33% 33%;
  grid-template-columns: 20% 10% 20%;
  padding-left: 6%; }
  main .crear .h4-crear {
    font-size: 14px;
    color: black; }
  main .crear .nombre {
    grid-row: 1/1;
    grid-column: 1/1; }
  main .crear .apellido {
    grid-row: 1/1;
    grid-column: 3/3; }
  main .crear .nacimiento {
    grid-row: 2/2;
    grid-column: 1/1; }
    main .crear .nacimiento input {
      width: 70%; }
  main .crear .email-crear {
    grid-row: 2/2;
    grid-column: 3/3; }
  main .crear .crear-pass {
    grid-row: 3/4;
    grid-column: 3/3; }
    main .crear .crear-pass input {
      margin-bottom: 10px; }
  main .crear .boton-registro {
    grid-row: 4/4;
    grid-column: 1/1; }
    main .crear .boton-registro input {
      width: 80%;
      background-color: black;
      color: white; }

main .inicio-sesion {
  margin-top: 6%;
  display: grid;
  grid-template-rows: 20% 20% 10% 20% 20%;
  grid-template-columns: 40% 40% 40%;
  align-items: center;
  justify-content: center;
  padding-bottom: 0px; }
  main .inicio-sesion .poner-email {
    gap: 8px;
    display: flex;
    align-items: flex-start;
    height: 80px;
    width: 100%;
    grid-column: 2/2;
    grid-row: 1/1;
    flex-direction: column; }
    main .inicio-sesion .poner-email .text-acount {
      margin-bottom: 5px;
      font-size: 14px; }
    main .inicio-sesion .poner-email input {
      height: 80%;
      width: 100%;
      background-color: rgba(240, 248, 255, 0);
      border: solid black 1px; }
  main .inicio-sesion .poner-pass {
    gap: 2px;
    display: flex;
    height: 80px;
    width: 100%;
    grid-column: 2/2;
    grid-row: 2/2;
    flex-direction: column; }
    main .inicio-sesion .poner-pass .text-acount {
      font-size: 14px; }
    main .inicio-sesion .poner-pass input {
      height: 80%;
      width: 100%;
      background-color: rgba(240, 248, 255, 0);
      border: solid black 1px; }
    main .inicio-sesion .poner-pass .olv-pass {
      display: flex;
      justify-content: end;
      text-decoration: none;
      color: #0c54b3;
      font-family: 'Inter', sans-serif; }
      main .inicio-sesion .poner-pass .olv-pass .text-acount {
        font-size: 14px;
        margin: 0%; }
  main .inicio-sesion .iniciar-la-sesion {
    margin-top: 28%;
    grid-column: 2/2;
    grid-row: 3/3;
    display: flex;
    flex-direction: column;
    gap: 8px; }
    main .inicio-sesion .iniciar-la-sesion .submit-i {
      height: 30px;
      background-color: black;
      color: white;
      font-size: 15px;
      border: solid black 1px; }
    main .inicio-sesion .iniciar-la-sesion .text-acount {
      font-size: 16px; }
      main .inicio-sesion .iniciar-la-sesion .text-acount .crear-cuenta {
        text-decoration: none;
        color: #0c54b3;
        font-family: 'Inter', sans-serif; }

@media (max-width: 1024px) {
  body header .navbar div {
    gap: 20px; }
    body header .navbar div div ul {
      gap: 19px; }
  body main .wsp {
    left: 94%; }
  body main .carrusel .lo-mas-vendido {
    gap: 0px; }
  body main .odm1 {
    height: 410px;
    width: 260px; }
  body main .mes2 {
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 2%; }
  body main .contenedor-de-new {
    padding-left: 7%; }
  body main .ubications .ubi {
    height: 350px;
    width: 350px; }
  body main div h3 {
    font-size: 20px; } }

@media (max-width: 768px) {
  body header .navbar div div form {
    width: 100%; }
  body header .img-y-envios .banner .img-banner {
    height: auto;
    width: 130px; }
  body main .wsp {
    left: 93%;
    height: 44px;
    width: 44px; }
  body main .subtitulo-lo-mas-vendido {
    font-size: 30px; }
  body main .carrusel .lo-mas-vendido {
    padding-left: 0px; }
    body main .carrusel .lo-mas-vendido .articulos {
      height: 317px;
      width: 186px; }
  body main .odm {
    font-size: 30px; }
  body main .mes1 {
    gap: 12px;
    padding-left: 0px; }
    body main .mes1 .odm1 {
      height: 380px;
      width: 220px; }
  body main .mes2 {
    gap: 12px; }
    body main .mes2 .odm1 {
      height: 380px;
      width: 220px; }
  body main .filtrado {
    gap: 61%; }
    body main .filtrado .checkbox {
      width: 30%; }
      body main .filtrado .checkbox h5 {
        font-size: 17px; }
    body main .filtrado select {
      height: 52px;
      width: 138px;
      font-size: 12px; }
  body main form .inicio-sesion .poner-email .text-acount {
    font-size: 13px; }
  body main form .inicio-sesion .poner-pass .text-acount {
    font-size: 13px; }
  body main form .inicio-sesion .poner-pass .olv-pass .text-acount {
    font-size: 13px; }
  body main form .inicio-sesion .iniciar-la-sesion .submit-i {
    font-size: 14px; }
  body main form .inicio-sesion .iniciar-la-sesion .text-acount {
    font-size: 13px; }
  body main .sucursales {
    margin-left: 5px; }
  body main .ubications .ubi {
    height: 320px;
    width: 320px;
    margin-left: -8px; }
  body main .contenedor-de-prendas .prendas {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr; }
  body main .crear {
    padding-left: 0%; }
  body main .carro-vacio img {
    width: 95%; }
  body footer .encontranos {
    font-size: 17px; }
  body footer div .ig {
    height: 45px;
    width: 45px; }
  body footer div .face {
    height: 37px;
    width: 40px; }
  body footer .contactanos {
    font-size: 22px; }
  body footer .adress h3 {
    font-size: 19px; }
  body footer .adress img {
    height: 30px;
    width: 30px; }
  body footer .numero h3 {
    font-size: 20px; }
  body footer .numero img {
    height: 30px;
    width: 30px; }
  body footer .medios-d-p h3 {
    font-size: 18px; }
  body footer .medios-d-p img {
    margin-left: 30px;
    width: 550px; }
  body footer .creador {
    font-size: 12px; } }

@media (max-width: 425px) {
  body header .linea-de-ayuda {
    align-items: center;
    justify-content: center; }
  body header .img-y-envios .img-de-entrada {
    height: 100%;
    width: 100%;
    background-image: url(../assets/fondo320.png);
    background-size: 100% 100%;
    margin-bottom: 124%; }
  body header .img-y-envios .banner {
    height: 70%; }
    body header .img-y-envios .banner img {
      width: auto;
      height: 68%; }
  body main .wsp {
    left: 88%;
    height: 42px;
    width: 42px; }
  body main .subtitulo-lo-mas-vendido {
    margin-top: 44px;
    margin-bottom: 9px; }
  body main .carrusel .lo-mas-vendido {
    gap: 10px;
    margin-right: 3px;
    flex-direction: column;
    align-items: center; }
  body main .mes1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; }
  body main .mes2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; }
  body main .filtrado {
    flex-direction: column;
    margin-top: 5px; }
    body main .filtrado .checkbox {
      flex-direction: row; }
  body main .contenedor-de-new {
    margin-right: 13%; }
    body main .contenedor-de-new .news {
      display: grid;
      grid-template-rows: 16% 16% 16% 16% 16% 16%;
      grid-template-columns: 1fr 1fr;
      padding: 0px;
      padding-left: 20px;
      gap: 10px; }
      body main .contenedor-de-new .news .div-foto-new {
        width: 100%;
        height: 100%; }
        body main .contenedor-de-new .news .div-foto-new img {
          border: solid black 1px;
          height: 100%;
          width: 100%; }
  body main form .inicio-sesion {
    gap: 20px; }
    body main form .inicio-sesion .poner-email input {
      height: 39%; }
  body main div .quienes-somos {
    font-size: 30px; }
  body main div p {
    font-size: 19px; }
  body main div .contacta {
    font-size: 31px; }
  body main .ubications {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    padding-left: 0px; }
    body main .ubications .datos1 {
      padding-left: 0px; }
    body main .ubications .datos2 {
      padding-left: 0px; }
  body main .contenedor-de-prendas .prendas {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px; }
  body main .crear {
    grid-template-columns: 1fr 1fr; }
    body main .crear input {
      width: 96%;
      margin: 2px; }
  body main .carro-vacio {
    margin-top: 15%;
    margin-bottom: 20%; }
    body main .carro-vacio h1 {
      font-size: 35px; }
    body main .carro-vacio h2 {
      font-size: 20px; }
    body main .carro-vacio .opciones-pago-carro {
      font-size: 18px; }
    body main .carro-vacio a input {
      height: 58px;
      width: 148px; }
  body footer {
    margin-top: 0px; }
    body footer .encontranos {
      font-size: 17px;
      margin-bottom: 2px;
      margin-left: 2px; }
    body footer .ig {
      height: 34px;
      width: 34px; }
    body footer .face {
      height: 28px;
      width: 31px; }
    body footer .contactanos {
      font-size: 20px; }
    body footer .adress h3 {
      font-size: 14px; }
    body footer .adress img {
      height: 26px;
      width: 26px; }
    body footer .numero {
      margin-bottom: 12px; }
      body footer .numero h3 {
        font-size: 14px; }
      body footer .numero img {
        height: 25px;
        width: 25px; }
    body footer .medios-d-p h3 {
      font-size: 12px;
      margin-left: 0px; }
    body footer .medios-d-p img {
      margin-left: 3px;
      width: 244px; } }

@media (max-width: 375px) {
  body header .img-y-envios .banner .img-banner {
    width: 117px; }
  body main .contenedor-de-new .news {
    grid-template-rows: auto;
    grid-template-columns: 1fr; }
  body main div .quienes-somos {
    font-size: 29px; }
  body main div p {
    font-size: 18px; }
  body main div .contacta {
    font-size: 28px; }
  body main .contenedor-de-prendas .prendas {
    grid-template-columns: 1fr; }
  body main .ayuda .cuidado-de-prendas .fin-cuidados {
    margin-left: 7%; }
  body main .crear input {
    width: 92%; }
  body main .crear .boton-registro input {
    font-size: 14px; }
  body main .crear .nacimiento input {
    width: 80%; }
  body main .carro-vacio h1 {
    font-size: 30px; }
  body main .carro-vacio h2 {
    font-size: 18px; }
  body main .carro-vacio .opciones-pago-carro {
    font-size: 17px; }
  body main .carro-vacio a input {
    height: 50px;
    width: 134px;
    font-size: 20px; }
  body main .carro-vacio img {
    width: 98%; }
  body footer .encontranos {
    font-size: 16px; }
  body footer .contactanos {
    font-size: 19px; }
  body footer .adress h3 {
    font-size: 13px; }
  body footer .numero h3 {
    font-size: 13px; }
  body footer .medios-d-p h3 {
    font-size: 11px; } }

@media (max-width: 320px) {
  body header .img-y-envios .banner {
    height: 70%; }
    body header .img-y-envios .banner .img-banner {
      width: 100px; }
  body main .wsp {
    left: 87%;
    top: 72%;
    height: 38px;
    width: 38px; }
  body main div .quienes-somos {
    font-size: 27px; }
  body main div p {
    font-size: 17px; }
  body main div .contacta {
    font-size: 26px; }
  body main div h3 {
    font-size: 17px; }
  body main .ubications .ubi {
    height: 300px;
    width: 300px;
    margin-left: -1px; }
  body main .ayuda .pf .titulo-preg {
    font-size: 25px; }
  body main .ayuda .pf .preguntas .pregunta .resp {
    font-size: 16px; }
  body main .ayuda .cambios-y-d .intro-dyd {
    font-size: 16px; }
  body main .ayuda .cambios-y-d .cambios-list li {
    font-size: 16px; }
  body main .ayuda .cambios-y-d .devoluciones-list li {
    font-size: 16px; }
  body main .ayuda .cambios-y-d .fin-cyd {
    font-size: 16px; }
  body main .ayuda .cuidado-de-prendas .intro-cdp {
    font-size: 16px; }
  body main .ayuda .cuidado-de-prendas .consejos li {
    font-size: 16px; }
  body main .carro-vacio h1 {
    font-size: 28px; }
  body main .carro-vacio h2 {
    font-size: 15px; }
  body main .carro-vacio .opciones-pago-carro {
    font-size: 15px; }
  body main .carro-vacio a input {
    height: 45px;
    width: 120px;
    font-size: 18px; }
  body main .carro-vacio img {
    width: 98%; }
  body footer .encontranos {
    font-size: 15px; }
  body footer .ig {
    height: 32px;
    width: 32px; }
  body footer .face {
    height: 26px;
    width: 29px; }
  body footer .contactanos {
    font-size: 18px; }
  body footer .adress h3 {
    font-size: 12px; }
  body footer .numero h3 {
    font-size: 12px; }
  body footer .medios-d-p h3 {
    font-size: 10px; } }
