main{
    .contenedor-de-prendas{
        margin-right: 80px;
        display: flex;
        justify-content: end;
        padding-top: 0%;
        .prendas{
            margin-bottom: 12%;
            width: 80%;
            gap: 20px;
            height: 100%;
            display: grid;
            @include grids-template(25% 25% 25% 25%, 1fr 1fr 1fr 1fr);
            padding-top: 0%;
            img{
                border: solid black 1px;
                width: 100%;
                height: 100%;
            }
        }
    }
}