main{
    .filtrado{
        display: flex;
        justify-content: end;
        margin-right: 28px;
        margin-top: 38px;
        gap: 70%;
        padding: 0px;
        .checkbox{
            font-size: 18px;
            gap: 8px;
            display: flex;
            flex-direction: column;
        }
        div{
            input{
                @include alto-ancho(18px,18px);
            }
        }
        select{
            @include alto-ancho(48px,100%);
            border: solid rgb(20, 130, 136) 1px;
            background-color: $color-principal-A;
            font-size: 16px;
        }
    }
    .contenedor-de-new{
        display: flex;
        justify-content: end;
        margin-right: 8%;
        padding-top: 0%;
        .news{
            margin-bottom: 12%;
            height: 70%;
            gap: 20px;
            height: 100%;
            display: grid;
            @include grids-template(25% 25% 25% 25%, 1fr 1fr 1fr);
            padding-top: 0%;
        }
        .news img{
            border: solid black 1px;
            @include alto-ancho(100%,100%);
        }
    }
}