main{
    .inicio-sesion{
        margin-top: 6%;
        display: grid;
        @include grids-template(20% 20% 10% 20% 20%, 40% 40% 40%);
        align-items: center;
        justify-content: center;
        padding-bottom: 0px;
        .poner-email{
            gap: 8px;
            display: flex;
            align-items: flex-start;
            @include alto-ancho(80px,100%);
            grid-column: 2/2;
            grid-row: 1/1;
            flex-direction: column;
            .text-acount{
                margin-bottom: 5px;
                font-size: 14px;
            }
            input{
                @include alto-ancho(80%,100%);
                background-color: rgba(240, 248, 255, 0);
                border: solid black 1px;
            }
        }
        .poner-pass{
            gap: 2px;
            display: flex;
            @include alto-ancho(80px,100%);
            grid-column: 2/2;
            grid-row: 2/2;
            flex-direction: column;
            .text-acount{
                font-size: 14px;
            }
            input{
                @include alto-ancho(80%,100%);
                background-color: rgba(240, 248, 255, 0);
                border: solid black 1px;
                
            }
            .olv-pass{
                display: flex;
                justify-content: end;
                text-decoration: none;
                color: rgb(12, 84, 179);
                font-family: 'Inter', sans-serif;
                .text-acount{
                    font-size: 14px;
                    margin: 0%;
                }
            }
        }
        .iniciar-la-sesion{
            margin-top: 28%;
            grid-column: 2/2;
            grid-row: 3/3;
            display: flex;
            flex-direction: column;
            gap: 8px;
            .submit-i{
                height: 30px;
                background-color: rgb(0, 0, 0);
                color: white;
                font-size: 15px;
                border: solid black 1px;
            }
            .text-acount{
                font-size: 16px;
                .crear-cuenta{
                    text-decoration: none;
                    color: rgb(12, 84, 179);
                    font-family: 'Inter', sans-serif;
                }
            }
        }
    }
}