@mixin display-flex($dis, $flexd, $justc, $aling){
    display:$dis;
    flex-direction:$flexd;
    justify-content:$justc;
    align-items: $aling;
}
@mixin alto-ancho($alto, $ancho){
    height: $alto;
    width: $ancho;
}
@mixin grids-template($trow, $tcolumn){
  grid-template-rows: $trow;
  grid-template-columns: $tcolumn;
}
@mixin screen-1024px{
  @media (max-width:$screen-1024){
    body{
      header{
        .navbar{
          div{
            gap: 20px;
            div{
              ul{
                gap: 19px;
              }
            }
          }
        }
      }

      main{
        .wsp{
          left: 94%;
        }
        .carrusel{
          .lo-mas-vendido{
            gap: 0px;
          }
        }
        .odm1{
          @include alto-ancho(410px,260px);
        }
        .mes2{
          padding-top: 0%;
          padding-left: 0%;
          padding-right: 2%;
        }

        .contenedor-de-new{
          padding-left: 7%;
        }

        .ubications{
          .ubi {
            @include alto-ancho(350px,350px)
          }
        }
        div {
          h3 { 
            font-size: 20px;
          }
        }
      }
    }
  }     
}
@mixin screen-768px{
  @media (max-width:$screen-768){
    body{
      header{
        .navbar{
          div{
            div{
              form{
                width: 100%;
              }
            }
          }
        }
        .img-y-envios{
          .banner{
            .img-banner{
              @include alto-ancho(auto,130px);
            }
          }
        }
      }

      main{
        .wsp{
          left: 93%;
          @include alto-ancho(44px, 44px);
        }
        .subtitulo-lo-mas-vendido{
          font-size: 30px;
        }
        .carrusel{
          .lo-mas-vendido{
            padding-left: 0px;
            .articulos{
              @include alto-ancho(317px, 186px);
            }
          }
        }
        .odm{
          font-size: 30px;
        }
        .mes1{
          gap: 12px;
          padding-left: 0px;
          .odm1 {
            @include alto-ancho(380px, 220px);
        }
        }
        .mes2{
          gap: 12px;
          .odm1 {
            @include alto-ancho(380px, 220px);
        }
        }

        .filtrado{
          gap: 61%;
          .checkbox{
            width: 30%;
            h5{
              font-size: 17px;
            }
          }
          select{
            @include alto-ancho(52px, 138px);
            font-size: 12px;
          }
        }

        form{
          .inicio-sesion{
            .poner-email{
              .text-acount{
                font-size: 13px;
              }
            }
            .poner-pass{
              .text-acount{
                font-size: 13px;
              }
              .olv-pass{
                .text-acount{
                  font-size: 13px;
                }
              }
            }
            .iniciar-la-sesion{
              .submit-i{
                font-size: 14px;
              }
              .text-acount{
                font-size: 13px;
              }
            }
          }
        }

        .sucursales {
          margin-left: 5px
        }
        .ubications{
          .ubi{
            @include alto-ancho(320px,320px);
            margin-left: -8px;
          }
        }

        .contenedor-de-prendas{
          .prendas{
            @include grids-template(auto, 1fr 1fr 1fr);
          }
        }

        .crear{
          padding-left: 0%;
        }

        .carro-vacio{
          img{
            width:95%;
          }
        }
      }

      footer{
        .encontranos{
          font-size: 17px;
        }
        div{
          .ig{
            @include alto-ancho(45px, 45px);
          }
          .face{
            @include alto-ancho(37px, 40px);
          }
        }
        .contactanos{
          font-size: 22px;
        }
        .adress{
          h3{
            font-size: 19px;
          }
          img{
            @include alto-ancho(30px, 30px);
          }
        }
        .numero{
          h3{
            font-size: 20px;
          }
          img{
            @include alto-ancho(30px, 30px);
          }
        }
        .medios-d-p{
          h3{
            font-size: 18px;
          }
          img{
            margin-left: 30px;
            width: 550px;
          }
        }
        .creador {
          font-size: 12px;
        }
      }
    }
  }
}
@mixin screen-425px{
  @media (max-width:$screen-425){
    body{
      header{
        .linea-de-ayuda{
          align-items: center;
          justify-content: center;
        }
        .img-y-envios{
          .img-de-entrada{
            @include alto-ancho(100%, 100%);
            background-image: url(../assets/fondo320.png);
            background-size: 100% 100%;
            margin-bottom: 124%;
          }
        .banner{
            height: 70%;
            img{
                width: auto;
                height: 68%;
            }
          }
        }
      }
      
      main{
        .wsp{
          left: 88%;
          @include alto-ancho(42px, 42px);
        }
        .subtitulo-lo-mas-vendido{
          margin-top: 44px;
          margin-bottom: 9px;
        }
        .carrusel{
          .lo-mas-vendido{
            gap: 10px;
            margin-right: 3px;
            flex-direction: column;
            align-items: center;
          }
        }
        .mes1{
          @include display-flex(flex, column, center, center);
          gap: 10px;
        }
        .mes2{
          @include display-flex(flex, column, center, center);
          gap: 10px;
        }

        .filtrado{
          flex-direction: column;
          margin-top: 5px;
          .checkbox {
            flex-direction: row;
          }
        }
        .contenedor-de-new{
          margin-right: 13%;
          .news{
            display: grid;
            @include grids-template(16% 16% 16% 16% 16% 16%, 1fr 1fr);
            padding: 0px;
            padding-left: 20px;
            gap: 10px;
            .div-foto-new{
              width: 100%;
              height: 100%;
              img{
                border: solid black 1px;
                @include alto-ancho(100%, 100%);
              }
            }
          }
        }

        form{
          .inicio-sesion{
            gap: 20px;
            .poner-email{
              input{
                height: 39%;
              }
            }
          }
        }
        
        div{
          .quienes-somos{
            font-size: 30px;
          }
          p {
            font-size: 19px;
          }
        }
        div{
          .contacta{
            font-size: 31px;
          }
        }

        .ubications{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 45px;
          padding-left: 0px;
          .datos1{
            padding-left: 0px;
          }
          .datos2{
            padding-left: 0px;
          }
        }

        .contenedor-de-prendas{
          .prendas{
            @include grids-template(auto, 1fr 1fr);
            margin-top: 10px;
          }
        }

        .crear{
          grid-template-columns: 1fr 1fr;
          input{
            width: 96%;
            margin: 2px;
          }
        }

        .carro-vacio{
          margin-top: 15%;
          margin-bottom: 20%;
          h1{
            font-size: 35px;
          }
          h2{
            font-size: 20px;
          }
          .opciones-pago-carro{
            font-size: 18px;
          }
          a{
            input{
              @include alto-ancho(58px, 148px);
            }
          }
        }
      }

      footer{
        margin-top: 0px;
        .encontranos {
          font-size: 17px;
          margin-bottom: 2px;
          margin-left: 2px;
        }
        .ig {
          @include alto-ancho(34px, 34px);
        }
        .face {
          @include alto-ancho(28px, 31px);
        }
        .contactanos {
          font-size: 20px;
        }
        .adress{
          h3{
            font-size: 14px;
          }
          img{
            @include alto-ancho(26px, 26px);
          }
        }
        .numero{
          margin-bottom: 12px;
          h3{
            font-size: 14px;
          }
          img {
            @include alto-ancho(25px, 25px);
          }
        }
        .medios-d-p{
          h3{
            font-size: 12px;
            margin-left: 0px;
          }
          img{
            margin-left: 3px;
            width: 244px;
          }
        }
      }
    }
  }
}  
@mixin screen-375px{
  @media (max-width:$screen-375){
    body{
      header{
        .img-y-envios{
          .banner{
            .img-banner{
              width: 117px;
            }
          }
        }
      }

      main{
        .contenedor-de-new{
          .news{
            @include grids-template(auto, 1fr);
          }
        }
        
        div{
          .quienes-somos{
            font-size: 29px;
          } 
          p {
            font-size: 18px;
          }
        }
        div{
          .contacta {
            font-size: 28px;
          }
        }

        .contenedor-de-prendas{
          .prendas{
            grid-template-columns: 1fr;
          }
        }

        .ayuda{
          .cuidado-de-prendas{
            .fin-cuidados{
              margin-left: 7%;
            }
          }
        }

        .crear{
          input{
            width: 92%;
          }
          .boton-registro{
            input{
              font-size: 14px;
            }
          }
          .nacimiento{
            input{
              width: 80%;
            }
          }
        }

        .carro-vacio{
          h1{
            font-size: 30px;
          }
          h2{
            font-size: 18px;
          }
          .opciones-pago-carro{
            font-size: 17px;
          }
          a{
            input{
              @include alto-ancho(50px, 134px);
              font-size: 20px;
            }
          }
          img{
              width: 98%;
          }
        }
      }

      footer{
        .encontranos {
          font-size: 16px;
        }
        .contactanos {
          font-size: 19px;
        }
        .adress{
          h3{
            font-size: 13px;
          }
        }
        .numero{
          h3{
            font-size: 13px;
          }
        }
        .medios-d-p{
          h3{
            font-size: 11px;
          }
        }
      }
    }
  }
}  
@mixin screen-320px{
  @media (max-width:$screen-320){
    body{
      header{
        .img-y-envios{
          .banner{
            height: 70%;
            .img-banner{
              width: 100px;
            }
          }
        }
      }

      main{
        .wsp{
          left: 87%;
          top: 72%;
          @include alto-ancho(38px, 38px);
        }
        div{
          .quienes-somos{
            font-size: 27px;
          }
          p {
            font-size: 17px;
          }
        }
        div{
          .contacta{
            font-size: 26px;
          } 
          h3 { 
            font-size: 17px;
          }
        }

        .ubications{
          .ubi{
            @include alto-ancho(300px,300px);
            margin-left: -1px;
          }
        }

        .ayuda{
          .pf{
            .titulo-preg{
              font-size: 25px;
            }
            .preguntas{
              .pregunta{
                .resp{
                  font-size: 16px
                }
              }
            }
          }
          .cambios-y-d{
            .intro-dyd{
              font-size: 16px
            }
            .cambios-list{
              li{
                font-size: 16px;
              }
            }
            .devoluciones-list{
              li{
                font-size: 16px;
              }
            }
            .fin-cyd {
              font-size: 16px
            }
          }
          .cuidado-de-prendas{
            .intro-cdp{
              font-size: 16px
            }
            .consejos{
              li{
                font-size: 16px;
              }
            }
          }
        }

        .carro-vacio{
          h1{
            font-size: 28px;
          }
          h2{
            font-size: 15px;
          }
          .opciones-pago-carro{
            font-size: 15px;
          }
          a{
            input{
              @include alto-ancho(45px, 120px);
              font-size: 18px;
            }
          }
          img{
              width: 98%;
          }
        }
      }

      footer{
        .encontranos {
          font-size: 15px;
        }
        .ig {
          @include alto-ancho(32px, 32px);
        }
        .face {
          @include alto-ancho(26px, 29px);
        }
        .contactanos{
          font-size: 18px;
        }
        .adress{
          h3{
            font-size: 12px;
          }
        }
        .numero{
          h3{
            font-size: 12px;
          }
        }
        .medios-d-p{
          h3{
            font-size: 10px;
          }
        }
      }      
    }
  }
}
