@mixin display-flex($dis, $flexd, $justc, $aling){
    display:$dis;
    flex-direction:$flexd;
    justify-content:$justc;
    align-items: $aling;
}
@mixin alto-ancho($alto, $ancho){
    height: $alto;
    width: $ancho;
}
@mixin screen-1024px{
  @media (max-width:$screen-1024){
    body{
      header{
        .navbar{
          div{
            gap: 20px;
            div{
              ul{
                gap: 19px;
              }
            }
          }
        }
      }

      main{
        .carrusel{
          .lo-mas-vendido{
            gap: 0px;
          }
        }
        .odm1{
          width: 260px;
          height: 410px;
        }
        .mes2{
          padding-top: 0%;
        }

        .contenedor-de-new{
          padding-left: 7%;
        }

        .ubications{
          .ubi {
            @include alto-ancho(350px,350px)
          }
        }
        div {
          h3 { 
            font-size: 20px;
          }
        }
      }
    }
  }     
}
@mixin screen-768px{
  @media (max-width:$screen-768){
    body{
      header{
        .navbar{
          div{
            div{
              form{
                width: 100%;
              }
            }
          }
        }
        .img-y-envios{
          .banner{
            .img-banner{
              height: auto;
              width: 130px;
            }
          }
        }
      }

      main{
        .subtitulo-lo-mas-vendido{
          font-size: 30px;
        }
        .carrusel{
          .lo-mas-vendido{
            padding-left: 0px;
            .articulos{
              height: 317px;
              width: 186px;
            }
          }
        }
        .odm{
          font-size: 30px;
        }
        .mes1{
          .odm1 {
            width: 220px;
            height: 380px;
        }
        }
        .mes2{
          .odm1 {
            width: 220px;
            height: 380px;
        }
        }

        .filtrado{
          gap: 61%;
          .checkbox{
            width: 30%;
            h5{
              font-size: 17px;
            }
          }
          select{
            width: 138px;
            height: 52px;
            font-size: 12px;
          }
        }

        form{
          .inicio-sesion{
            .poner-email{
              .text-acount{
                font-size: 13px;
              }
            }
            .poner-pass{
              .text-acount{
                font-size: 13px;
              }
              .olv-pass{
                .text-acount{
                  font-size: 13px;
                }
              }
            }
            .iniciar-la-sesion{
              .submit-i{
                font-size: 14px;
              }
              .text-acount{
                font-size: 13px;
              }
            }
          }
        }

        .sucursales {
          margin-left: 5px
        }
        .ubications{
          .ubi{
            @include alto-ancho(320px,320px);
            margin-left: -8px;
          }
        }

        .contenedor-de-prendas{
          .prendas{
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
          }
        }

        .crear{
          padding-left: 0%;
        }
      }

      footer{
        .encontranos{
          font-size: 17px;
        }
        div{
          .ig{
            height: 45px;
            width: 45px;
          }
          .face{
            height: 37px;
            width: 40px;
          }
        }
        .contactanos{
          font-size: 22px;
        }
        .adress{
          h3{
            font-size: 19px;
          }
          img{
            height: 30px;
            width: 30px;
          }
        }
        .numero{
          h3{
            font-size: 20px;
          }
          img{
            height: 30px;
            width: 30px;
          }
        }
        .medios-d-p{
          h3{
            font-size: 18px;
          }
          img{
            margin-left: 30px;
            width: 550px;
          }
        }
        .creador {
          font-size: 12px;
        }
      }
    }
  }
}
@mixin screen-425px{
  @media (max-width:$screen-425){
    body{
      header{
        .linea-de-ayuda{
          align-items: center;
          justify-content: center;
        }
        .img-y-envios{
          .banner{
            height: 162%;
            .img-banner{
              height: auto;
              width: 105px;
            }
          }
        }
      }
      
      main{
        .subtitulo-lo-mas-vendido{
          margin-top: 44px;
          margin-bottom: 9px;
        }
        .carrusel{
          .lo-mas-vendido{
            gap: 10px;
            margin-right: 3px;
            flex-direction: column;
            align-items: center;
          }
        }
        .mes1{
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          gap: 10px;
        }
        .mes2{
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          gap: 10px;
        }

        .filtrado{
          flex-direction: column;
          margin-top: 5px;
          .checkbox {
            flex-direction: row;
          }
        }
        .contenedor-de-new{
          margin-right: 13%;
          .news{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 16% 16% 16% 16% 16% 16%;
            padding: 0px;
            padding-left: 20px;
            gap: 10px;
            .div-foto-new{
              width: 100%;
              height: 100%;
              img{
                border: solid black 1px;
                width: 100%;
                height: 100%;
              }
            }
          }
        }

        form{
          .inicio-sesion{
            gap: 20px;
            .poner-email{
              input{
                height: 39%;
              }
            }
          }
        }
        
        div{
          .quienes-somos{
            font-size: 30px;
          }
          p {
            font-size: 19px;
          }
        }
        div{
          .contacta{
            font-size: 31px;
          }
        }

        .ubications{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 45px;
          padding-left: 0px;
          .datos1{
            padding-left: 0px;
          }
          .datos2{
            padding-left: 0px;
          }
        }

        .contenedor-de-prendas{
          .prendas{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            margin-top: 10px;
          }
        }

        .crear{
          grid-template-columns: 1fr 1fr;
          input{
            width: 96%;
            margin: 2px;
          }
        }
      }

      footer{
        margin-top: 0px;
        .encontranos {
          font-size: 17px;
          margin-bottom: 2px;
          margin-left: 2px;
        }
        .ig {
          height: 34px;
          width: 34px;
        }
        .face {
          height: 28px;
          width: 31px;
        }
        .contactanos {
          font-size: 20px;
        }
        .adress{
          h3{
            font-size: 14px;
          }
          img{
            height: 26px;
            width: 26px;
          }
        }
        .numero{
          margin-bottom: 12px;
          h3{
            font-size: 14px;
          }
          img {
            height: 25px;
            width: 25px;
          }
        }
        .medios-d-p{
          h3{
            font-size: 12px;
            margin-left: 0px;
          }
          img{
            margin-left: 3px;
            width: 244px;
          }
        }
      }
    }
  }
}  
@mixin screen-375px{
  @media (max-width:$screen-375){
    body{
      main{
        .contenedor-de-new{
          .news{
            grid-template-columns: 1fr;
            grid-template-rows: auto;
          }
        }
        
        div{
          .quienes-somos{
            font-size: 29px;
          } 
          p {
            font-size: 18px;
          }
        }
        div{
          .contacta {
            font-size: 28px;
          }
        }

        .contenedor-de-prendas{
          .prendas{
            grid-template-columns: 1fr;
          }
        }

        .ayuda{
          .cuidado-de-prendas{
            .fin-cuidados{
              margin-left: 7%;
            }
          }
        }

        .crear{
          input{
            width: 92%;
          }
          .boton-registro{
            input{
              font-size: 14px;
            }
          }
          .nacimiento{
            input{
              width: 80%;
            }
          }
        }
      }

      footer{
        .encontranos {
          font-size: 16px;
        }
        .contactanos {
          font-size: 19px;
        }
        .adress{
          h3{
            font-size: 13px;
          }
        }
        .numero{
          h3{
            font-size: 13px;
          }
        }
        .medios-d-p{
          h3{
            font-size: 11px;
          }
        }
      }
    }
  }
}  
@mixin screen-320px{
  @media (max-width:$screen-320){
    body{
      header{
        .img-y-envios{
          .banner{
            height: 160%;
            .img-banner{
              width: 100px;
            }
          }
        }
      }

      main{
        div{
          .quienes-somos{
            font-size: 27px;
          }
          p {
            font-size: 17px;
          }
        }
        div{
          .contacta{
            font-size: 26px;
          } 
          h3 { 
            font-size: 17px;
          }
        }

        .ubications{
          .ubi{
            @include alto-ancho(300px,300px);
            margin-left: -1px;
          }
        }

        .ayuda{
          .pf{
            .titulo-preg{
              font-size: 25px;
            }
            .preguntas{
              .pregunta{
                .resp{
                  font-size: 16px
                }
              }
            }
          }
          .cambios-y-d{
            .intro-dyd{
              font-size: 16px
            }
            .cambios-list{
              li{
                font-size: 16px;
              }
            }
            .devoluciones-list{
              li{
                font-size: 16px;
              }
            }
            .fin-cyd {
              font-size: 16px
            }
          }
          .cuidado-de-prendas{
            .intro-cdp{
              font-size: 16px
            }
            .consejos{
              li{
                font-size: 16px;
              }
            }
          }
        }
      }

      footer{
        .encontranos {
          font-size: 15px;
        }
        .ig {
          height: 32px;
          width: 32px;
        }
        .face {
          height: 26px;
          width: 29px;
        }
        .contactanos{
          font-size: 18px;
        }
        .adress{
          h3{
            font-size: 12px;
          }
        }
        .numero{
          h3{
            font-size: 12px;
          }
        }
        .medios-d-p{
          h3{
            font-size: 10px;
          }
        }
      }      
    }
  }
}
