footer{
    background-color: rgba(0, 67, 71, 1);
    margin-top: 50px;
    .encontranos{
        color: white;
        font-size: 20px;
        margin-left: 6px;
    }
    .ig{
        width: 50px;
        height: 50px;
    }
    .face{
        width: 43px;
        height: 43px;
    }
    .contactanos{
        color: white;
        font-size: 26px;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .adress{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        h3{
            color: white;
            font-size: 22px;  
        }
    }
    .numero{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        color: white;
        margin-bottom: 80px;
        h3{
            font-size: 22px;
        }
    }
    .medios-d-p{
        display: flex;
        align-items: center;
        color: white;
        font-size: 20px;
        margin-bottom: 40px;
        h3{
            font-size: 20px;
            margin-left: 8px;
        }
        img{
            margin-left: 40px;
            width: 634px;
        }
    }
    .creador{
        margin: 0px;
        color: white;
        font-size: 14px;
        display: flex;
        justify-content: center;
    }
}