footer{
    background-color: $color-principal-B;
    margin-top: 50px;
    .encontranos{
        color: white;
        font-size: 20px;
        margin-left: 6px;
    }
    .ig{
       @include alto-ancho(50px,50px);
    }
    .ig:hover{
        border: solid rgba(0, 0, 0, 0) 2px;
    }
    .face{
        @include alto-ancho(43px,43px);
    }
    .face:hover{
        border: solid rgba(0, 0, 0, 0) 2px;
    }
    .contactanos{
        color: white;
        font-size: 26px;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .adress{
        @include display-flex(flex,row-reverse,center,center);
        h3{
            color: white;
            font-size: 22px;  
        }
    }
    .numero{
        @include display-flex(flex,row-reverse,center,center);
        color: white;
        margin-bottom: 80px;
        h3{
            font-size: 22px;
        }
    }
    .medios-d-p{
        display: flex;
        align-items: center;
        color: white;
        font-size: 20px;
        margin-bottom: 40px;
        h3{
            font-size: 20px;
            margin-left: 8px;
        }
        img{
            margin-left: 40px;
            width: 634px;
        }
    }
    .creador{
        margin: 0px;
        color: white;
        font-size: 14px;
        display: flex;
        justify-content: center;
    }
}