header{
    .linea-de-ayuda{
        background-color: $color-barra-ayuda;
        @include alto-ancho(18px,100%);
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 24px;
        color: black;
        .a-ayuda{
            text-decoration: none;
            color: black;
            font-family: 'Inter', sans-serif;
            font-size: 13px;
            margin-right: 8px
        }
        .a-ayuda:hover{
            text-decoration: underline;
        }
    }
    
    .navbar{
         padding: 0px;
        div{
            gap: 48px;
            background-color: $color-principal-A;  
            .navbar-brand{
                padding-left: 8px;
            }
            div{
                form{
                    width: 54%; 
                    .btn{
                        background-color: $color-principal-B; 
                        color: white;
                        border: none;
                    }
                }
                ul{
                    gap: 39px; 
                    li{
                        .dropdown-menu{
                            background-color: $color-principal-A;
                            border-bottom: solid $color-principal-B 3px;
                        }
                    }
                    li:hover{
                        border-bottom: solid black 1px;
                    }
                }
            }    
        }   
    
    }

}